.app-game {
  display: flex;
  grid-gap: 1rem;
  background: url("/assets/0.png") center center no-repeat;
  background-size: 110%;
  height: 100vh;
  align-items: center;
  width: 800px;
  justify-content: center;
  position: relative;

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1.4rem;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    border: 0;

    &.blue {
      margin-left: -9px;
      margin-top: -53px;
      height: 136px;
      width: 169px;

      &.active {
        // border: 6px solid #6eb5e4;
      }
    }

    &.red {
      margin-left: 288px;
      margin-top: 130px;
      height: 148px;
      width: 153px;

      &.active {
        background: url("/assets/1-red-glow.png") center center no-repeat;
        background-size: 140px 130px;
      }
    }

    &.yellow {
      margin-left: -27px;
      margin-top: 295px;
      height: 120px;
      width: 164px;

      &.active {
        // border: 6px solid #f5d44f;
      }
    }

    &.green {
      margin-left: -319px;
      margin-top: 104px;
      height: 130px;
      width: 132px;

      &.active,
      &:hover {
        background: url("/assets/2-green-glow.png") center 6px no-repeat;
        background-size: 110px 110px;
      }
    }
  }
}
